<h1>Hello this is the about page</h1>
<h2>You're going to learn about the following:</h2>
<ul>
  <li>About Alpha Blog</li>
  <li>When we Started</li>
  <li>Where we are Located</li>
  <li>What we do</li>

</ul>
<%= link_to 'Home', root_path %>
