<html>
  <head>
<h1>This is the homepage</h1>
  </head>

  <body>
    <p>Here is a paragraph about the Alpha Blog to give you a little bit of information
    about Alpha Blog, but not too much, because thats what the about page is for.</p>
  </body>

  <footer> Here is a footer for the page </footer>
</html>
<br>
<%= link_to 'About', about_path %>
