<div class="container">
  <footer class="footer">
    <small>
      By Mike Woolf | <a href="https://github.com/mwoolf87" target="_blank">Github</a> |
      <a href="https://www.linkedin.com/in/mjwoolf/" target="_blank">LinkdIn</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
      </nav>
    </footer>
  </div>
